appnope==0.1.2
backcall==0.2.0
bcrypt==3.2.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
decorator==5.0.9
Django==2.2
django-appconf==1.0.4
django-bulma==0.8.2
django-compressor==2.4.1
django-compressor-toolkit==0.6.0
django-debug-toolbar==3.2.2
django-json==0.27
idna==3.2
ipython==7.26.0
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
nodeenv==1.6.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.9.0
pytz==2021.1
rcssmin==1.0.6
requests==2.26.0
rjsmin==1.1.0
six==1.16.0
sqlparse==0.4.1
traitlets==5.0.5
urllib3==1.26.6
Wand==0.6.7
wcwidth==0.2.5