<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class='winner'>
        <h1>Edit your email</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </ul>
        <form action="/edit_user" method="POST">
            {% csrf_token %}
            <p>Email: </p><input placeholder="{{user.email}}" name="email_edit" type="text">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>