<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <div class='center_mass'>
        <h1>Registration</h1>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        </ul>
        <form action="index/create" method="POST">
            {% csrf_token %}
            <p>First Name: </p><input name="first_name" type="text">
            <p>Last Name: </p><input name="last_name" type="text">
            <p>Email: </p><input name="email" type="text">
            <p>Birthday: </p><input name="date_of_birth" type="date">
            <p>Password: </p><input name="password" type="text">
            <p>Confirm Password: </p><input name="confirm" type="text">
            <button type="submit">Register</button>
    </div>
    <div class='center_mass'>
        <h1>Login</h1>
        <form action="index/success" method="POST">
            {% csrf_token %}
            <p>Email: </p><input name="email" type="text">
            <p>Password: </p><input name="password" type="text">
            <button type="submit">Log In</button>
    </div>
    <a href="/logout">Log Out</a>
</body>
</html>