*{ 
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px auto;
    height: 100%;
    width: 60%;
}

.center_mass {
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px black;
    padding: 30px;
    margin: 30px;
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.50em;
}

form {
    padding: 5%;
}

td {
    border: 1px solid black;
    padding: 1em;
}