*{
    margin: 0px;
    padding: 0px;
   }

body {
    margin: 0px auto;
    height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
   }

#body_box {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    margin-top: 15%;
}

#submit_box {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

#bot_box {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.50em;
}

form {
    padding: 5%;
}

td {
    border: 1px solid black;
    padding: 1em;
}

hr {
    width: 200%;
    display: block;
    margin-top: 5%;
    border-width: 1px;
}

h1 {
    margin-top: 2%;
    padding-bottom: 5%;
}