*{
    margin: 0px;
    padding: 0px;
   }

body {
    margin: 0px auto;
    height: 100%;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
   }

#body_box{
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 25%;
}

table {
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.50em;
}

td {
    border: 1px solid black;
    padding: 1em;
}

hr { 
    width: 100%;
    display: block;
    margin-top: 5%;
    border-width: 1px;
}

h1 {
    margin-top: 2%;
    padding-bottom: 5%;
}