<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi-Restful TV Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>All shows</h1>
    <div class="center_mass">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
                {% for shows in all_shows %}
                <tr>
                    <td>{{shows.id}}</td>
                    <td>{{shows.title}}</td>
                    <td>{{shows.network}}</td>
                    <td>{{shows.release_date}}</td>
                    <td><a href='shows/{{queried_show.id}}/show' type="submit">Show</a>
                        <a href='shows/{{queried_show.id}}/edit' type="submit">Edit</a>
                        <a href='shows/{{queried_show.id}}/destroy' type="submit">Delete</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href={% url 'new' %} type="submit">Add a new show</a>


</body>
</html>