<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<header>
    <p>Welcome {{last_user}}</p>
    <a href="/logout">Log Out</a>
    <h1><a href="/wall">Go to the Wall</a></h1>
</header>
<body>
    {% if messages %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% endif %}
    <div class='center_mass'>
        <h1>Write a Post:</h1>
        <form action="/message" method=POST>
            {% csrf_token %}
            <input type="text" name='message'>
            <input type="submit">
        </form>
    </div>
</body>
</html>