* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Source Code Pro', monospace;
}

/* Navbar */
.navbar {
    margin-bottom: 5%;
}

.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase
}

.dropdown-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase
}

/* Footer */
.the-footer {
    background-color: lightgray;
    height: 60px;
    margin-top: 1.4%;
}

.the-footer p {
    padding-top: 20px;
    font-size: 14px;
}

/* Category Page */
.category-rows {
    padding-top: 15px;
}

.category-rows .mx-auto p {
    color: black;
    font-size: 12px;
}

.category-rows .mx-auto p a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.category-image {
    width: 100%;
    height: 75%;
}

.category-name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.image-padding {
    padding-top: 5px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/* Product Page */
.product-row {
    padding-top: 15px;
    padding-bottom: 20px;
}

.product-row .mx-auto p {
    color: black;
    font-size: 12px;
}

.product-row .mx-auto p a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

.product-name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px
}

.product-description {
    padding-right: 20px;
}

.search-text {
    padding-top: 20px;
}

/* Cart Page */
.personal-table {
    min-width: 400px;
    font-size: 14px
}

.personal-thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: antiquewhite;
}

.custom-image {
    width: 150px;
    height: 100px;
}

.custom-link {
    text-decoration: none;
}

.custom-icon {
    text-decoration: none;
    color: lightgray;
}

.custom-button {
    margin-top: 5px;
}

 /* Login Box */
.card-header h3 {
    color: black;
}

.input-group-prepend span {
    width: 50px;
    background-color: #d3d3d3;
    color:black;
    border: 0 !important;
}

.remember input {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    margin-right: 8px;
}

.login_btn {
    color:white;
    background-color: #6c757d;
    width: 100px;
}

.login_btn:hover{
    color: #6c757d;
    background-color: white;
}

.links {
    color: black;
}

.links a  {
    font-style: italic;
    color: black;
    margin-left: 10px;
    margin-bottom: 12px;
}