<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class='center_mass'>
        <p>{{specific_user.liked_book.count}}</p>
    {% for book in specific_user.liked_book.all %}
    <div class='one_post'>
        <p class='post'>{{book.title}}</p>
        <br>
        <p class='post'>{{book.desc}}</p>
    {% endfor %}
</body>
</html>