{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="{% block metadescription %} {% endblock metadescription %}">
    <title>{% block title %}Lets Buy some Cheats{% endblock title%}</title>
</head>
<body>
    <div>
        {% include 'struct/header.html' %}
        {% include 'struct/navbar.html' %}
        {% block content %}
        {% endblock content %}
    </div>
        {% include 'struct/footer.html' %}
</body>
</html>