.nav{
    width: 1000px;
    height: 100px;
    margin: 10px;
    background-color: skyblue;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
}

img {
    height: 60%;
    width: auto;
    padding-left: 5px;;
}

h1 {
    padding-left: 8%;
    font-size: 35px;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 30%;
    font-size: 15px;
}

a {
    padding: 15px;
    color: white;
    text-decoration: none;
}